/* line 1, ../sass/style.scss */
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

/* line 6, ../sass/style.scss */
a {
  color: #00B7FF;
}

/* line 9, ../sass/style.scss */
img {
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

/* line 17, ../sass/style.scss */
.container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
  width: 940px;
}

/* line 22, ../sass/style.scss */
.navbar {
  display: block;
  float: left;
  left: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 10px;
  margin-top: 0;
  position: relative;
}
/* line 23, ../sass/style.scss */
.navbar .brand {
  display: block;
  float: left;
}
/* line 27, ../sass/style.scss */
.navbar .btn {
  display: inline-block;
  padding: 4px 10px 4px;
  margin: 5px 5px 6px;
  line-height: 18px;
}
/* line 33, ../sass/style.scss */
.navbar .btn-group {
  padding: 5px 5px 6px;
  margin: 0;
}
/* line 45, ../sass/style.scss */
.navbar li {
  display: block;
  float: left;
}
/* line 50, ../sass/style.scss */
.navbar .nav {
  display: block;
  float: left;
  left: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 10px;
  position: relative;
}
/* line 62, ../sass/style.scss */
.navbar .nav > li > a {
  float: none;
  padding: 9px 10px 11px;
  line-height: 19px;
  color: #999999;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

/* line 75, ../sass/style.scss */
.navbar-fixed-top {
  color: #999999;
  top: 0;
  left: 0;
  margin-bottom: 0;
  position: fixed;
  right: 0;
  z-index: 1030;
}

/* line 84, ../sass/style.scss */
.navbar-inner {
  background-color: #2C2C2C;
  background-image: -moz-linear-gradient(center top, #333333, #222222);
}

/* line 88, ../sass/style.scss */
.container {
  margin-right: auto;
  margin-left: auto;
  *zoom: 1;
}

/* line 95, ../sass/style.scss */
.container:before,
.container:after {
  display: table;
  clear: both;
  content: "";
}

/* line 100, ../sass/style.scss */
ul {
  list-style-image: none;
  list-style-position: outside;
  list-style-type: disc;
}
/* line 104, ../sass/style.scss */
ul .float {
  display: block;
  float: left;
  padding: 0 3px 0 3px;
}

/* line 110, ../sass/style.scss */
.avatar {
  display: inline;
}
/* line 112, ../sass/style.scss */
.avatar :after {
  clear: both;
}
/* line 115, ../sass/style.scss */
.avatar :before {
  clear: both;
}

/* line 119, ../sass/style.scss */
.avatar_big {
  width: 150px;
  height: 100%;
}
/* line 122, ../sass/style.scss */
.avatar_big img {
  width: 100px;
  height: 100%;
}

/* line 127, ../sass/style.scss */
.avatar_mid {
  width: 75px;
  height: 100%;
}
/* line 130, ../sass/style.scss */
.avatar_mid img {
  width: 75px;
  height: 100%;
}

/* line 135, ../sass/style.scss */
.avatar_small {
  width: 50px;
  height: 100%;
}
/* line 138, ../sass/style.scss */
.avatar_small img {
  width: 50px;
  height: 100%;
}

/* line 143, ../sass/style.scss */
#post_title {
  height: 50px;
  width: 100%;
  background: #66ffcc;
}
/* line 147, ../sass/style.scss */
#post_title .post_avatar {
  float: left;
  height: 100%;
}
/* line 152, ../sass/style.scss */
#post_title #title_area {
  float: left;
  height: 100%;
  width: 80%;
}
/* line 158, ../sass/style.scss */
#post_title :after {
  clear: both;
}
/* line 161, ../sass/style.scss */
#post_title :before {
  clear: both;
}

/* line 165, ../sass/style.scss */
.float_right {
  float: right;
}
/* line 167, ../sass/style.scss */
.float_right :after {
  clear: both;
}

/* line 171, ../sass/style.scss */
#reply_form {
  padding: 10px 0 20px 0;
  border-top-style: solid;
  border-top-width: 10px;
  border-top-color: #344E7F;
  border-bottom-color: #344E7F;
  border-bottom-style: solid;
  border-bottom-width: 10px;
}
/* line 173, ../sass/style.scss */
#reply_form label {
  float: left;
}
/* line 176, ../sass/style.scss */
#reply_form .reply_container {
  width: 350px;
  height: 100%;
}

/* line 189, ../sass/style.scss */
#reply_list .header {
  border-bottom-color: #E2E2E2;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}
/* line 199, ../sass/style.scss */
#reply_list .rowtainer {
  width: 100%;
  margin: 10px 0 10px 0;
}
/* line 203, ../sass/style.scss */
#reply_list .rowtainer .user_avatar {
  float: left;
}
/* line 206, ../sass/style.scss */
#reply_list .rowtainer .reply_content {
  margin-left: 58px;
  margin-top: 8px;
}
/* line 210, ../sass/style.scss */
#reply_list .rowtainer :after {
  clear: both;
}
